body {
  margin: 0;
  background-color: #282c34;
}

.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.pomodoro {
  font-size: calc(10px + 4vmin);
  margin: 0;
}

.pomodoro-text {
  margin: 0;
}

.pomodoro-controller button {
  margin: 4px;
  padding: 3px 12px;
  border: none;
  background-color: lightcoral;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  color: black;
}

.pomodoro-timer {
  display: flex;
  letter-spacing: 2px;
  padding-left: 45px;
}

.pomodoro-timer span {
  position: relative;
  bottom: 2px;
}
